* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    color: whitesmoke;
    font-size: 3rem;
    display: flex;
    flex-flow: column;
}

nav {
    padding: 1rem;
    background-color: #9c9c97;
    color: rgb(238, 222, 222);
    font-size: 1.5rem;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

h5,
p {
    text-align: center;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}
.banner 
{
    display: block;
    width: 100%;
    max-width: 800px;
}